/* Footer */
footer {
    background: var(--secondary-color);
    padding: 30px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

.footer-copy {
    color: var(--text-light);
    font-size: 14px;
    font-family: var(--font-primary);
}

.footer-copy span {
    color: var(--primary-color);
    font-weight: 600;
}

.footer-social-icons {
    margin-bottom: 20px;
}

.footer-social-icons a {
    color: var(--text-light);
    font-size: 20px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.footer-social-icons a:hover {
    color: var(--primary-color);
    transform: translateY(-3px);
}